<div class="row marleft">
  <div class="col m12 s12" style="margin-top:40px">
    <div class="col m6 s12">
      <div [chart]="piechart1" style="min-width: 500px; height: 600px; margin: 0 auto"></div>
    </div>
    <div class="col m6 s12">
      <div [chart]="piechart2" id="container" style="min-width: 500px; height: 600px; margin: 0 auto"></div>
    </div>
    <div class="col m12 s12">
      <div [chart]="areachart" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
</div>


