<!-- <div class="row col-md-12">
  <div class="col-md-6">
    <h5>Bridges Summary</h5>
    <div [chart]="piechart1" class=""></div>
  </div>
  <div class="col-md-6">
    <h5>Bridge Summary</h5>
    <div [chart]="piechart2"></div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <h5>Bridges Summary</h5>
    <div [chart]="areachart" id="container" class=""></div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-12">
    <h5>Progress Summary</h5>
    <div [chart]="progresschart" class=""></div>
  </div>
</div> -->


<div class="row col-md-12">
  <div class="col-md-6 col-lg-6 col-xl-6 col-xs-6 ">
    <h5>Bridges Summary</h5>
    <div class="col-md-12 col-lg-12 white mat-elevation-z4">
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-6 col-xs-6">
    <h5>Bridges Summary</h5>
    <div [chart]="areachart" id="container" class=""></div>
  </div>
</div>
<div class="row col-md-12">
  <div class="col-md-6">
    <h5>Client Summary</h5>
    <div [chart]="piechart1"></div>
  </div>
  <div class="col-md-6">
    <h5>Bridge Summary</h5>
    <div [chart]="piechart2"></div>
  </div>

</div>