/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ::ng-deep .marleft {
    margin-left: 0px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ::ng-deep .marleft {
    margin-left: 250px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ::ng-deep .marleft {
    margin-left: 250px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ::ng-deep .marleft {
    margin-left: 0px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ::ng-deep .marleft {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 959px) {
  ::ng-deep .marleft {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 599px) {
  ::ng-deep .marleft {
    margin-left: 250px;
  }
}



.pie-1 {
 min-width: 600px;
  height: 100%;
  
}

