@import "../../assets/styles/scss/variables.scss";

.logo-img {
  height: 70px;
  width: 85px;
  margin: auto;
}

.user-name-mob {
  display: none !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.mat-nav-list .mat-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

// .active {
//   background: linear-gradient(60deg,#ab47bc,#512f6f);
//   color: white;
//   box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
// }

.dashboard {
  color: $primary-theme-color !important;
}

.sign-out {
  color: $primary-btn-color;
  margin-bottom: 0;
}

.menu-bar-section {
  min-height: 90px;
}

.showLogout {
  display: none !important;
}
@media screen and (max-width: 600px) {
  .side-menu-icon {
    display: block !important;
  }

  .dashboard {
    color: white !important;
  }

  .mob-header {
    background: $primary-theme-color !important;
    color: white !important;
  }

  .sign-out {
    display: none;
  }

  .user-id {
    display: none;
  }

  .showLogout {
    display: block !important;
  }

  .user-name-mob {
    display: block !important;
    overflow-wrap: break-word;
    text-align: center;
  }
}

.user-id {
  margin-bottom: 0;
}
