<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [opened]="!small" class="sidenav mat-elevation-z8" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar class="white"><img class="logo-img" src="assets/images/bridge-mart-logo.png" width="80%"
        style="margin:auto"></mat-toolbar>
    <mat-nav-list>
      <a class="sidenavelement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/"
        mat-list-item href="#">
        <mat-icon>dashboard</mat-icon> &nbsp; Dashboard
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/user" mat-list-item href="#">
        <mat-icon>person</mat-icon> &nbsp; User Profile
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/table" mat-list-item href="#">
        <mat-icon>table_chart</mat-icon> &nbsp; Table List
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/typo" mat-list-item href="#">
        <mat-icon>text_fields</mat-icon> &nbsp; Typography
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/icons" mat-list-item href="#">
        <mat-icon>insert_emoticon</mat-icon> &nbsp; Icons
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/maps" mat-list-item href="#">
        <mat-icon>map</mat-icon> &nbsp; Maps
      </a>
      <a class="sidenavelement" routerLinkActive="active-link" routerLink="/notify" mat-list-item href="#">
        <mat-icon>notification_important</mat-icon> &nbsp; Notifications
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="grey lighten-2" style="min-height:90px">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Dashboard</span>
      <span class="example-fill-remaining-space"></span>

      <span class="example-fill-remaining-space"></span>
      <p class="hide-on-med-and-down" style="margin-top:-10px">
      </p>
      <span class="example-fill-remaining-space"></span>

      <p>charles@bridgemart.com</p>
      &nbsp; &nbsp;
      <p class="sign-out">Sign Out</p>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>