<div class="">

<div class="d-flex flex-row justify-content-end grey lighten-2">
  <mat-form-field appearance="outline">
    <input matInput placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="">
      <button mat-raised-button color="primary-btn-color">Filter</button>
  </div>
</div>


<!-- <div class="row-bg mt-3 mb-3 p-2 mr-3 ml-3">
   <div class="d-flex">
     <span>Apple</span>
     <span>1200 members</span>
     <span>
       <button>Active</button>
       Account Status
     </span>
    </div>
</div> -->
<mat-card class="">
  <mat-card-content class="d-flex">
    <div class="p-3 mx-5">Apple</div>
    <div class="p-3 mx-5">1200 <br/> members</div>
    <div class="p-3 mx-5">
      <button mat-raised-button color="primary-btn-color">Active</button>
      <br/>
    ACCOUNT STATUS
    </div>
    <div class="p-3 mx-5">6/1/2019 <br/> START DATE</div>
    <div class="p-3 mx-5">$12000<br/>YTD LOAD</div>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<mat-card class="">
    <mat-card-content class="d-flex">
      <div class="p-3 mx-5">Apple</div>
      <div class="p-3 mx-5">1200 <br/> members</div>
      <div class="p-3 mx-5">
        <button mat-raised-button color="primary-btn-color">Active</button>
        <br/>
      ACCOUNT STATUS
      </div>
      <div class="p-3 mx-5">6/1/2019 <br/> START DATE</div>
      <div class="p-3 mx-5">$12000<br/>YTD LOAD</div>
    </mat-card-content>
  </mat-card>

</div>